<!DOCTYPE html>
<html>

<body>
    <form action="/mares/{{ id }}/edit" method="post">
        <table>
            <thead>
                <th>Pony name</th>
                <th>Breed</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" id="name" name="name" placeholder="{{ name }}"
                            value="{{ name }}" />
                    </td>
                    <td>
                        <select id="breed" name="breed">
                            <option value="earth" {% if breed==Breed::Earth %}selected {% endif %}>Earth</option>
                            <option value="pegasus" {% if breed==Breed::Pegasus %}selected {% endif %}>Pegasus</option>
                            <option value="unicorn" {% if breed==Breed::Unicorn %}selected {% endif %}>Unicorn</option>
                        </select>
                    <td>
                        <input type="hidden" name="modified_at" value="{{ modified_at }}" />
                        <input type="submit" value="Save" />
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        Modified_at at: {{ modified_at }}.<br>
    </form>
    <form method="post" action="/mares/{{ id }}/delete">
        <input type="submit" value="Delete">
    </form>
</body>

</html>
